.tasklistdiv{
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.tasklistdiv .titletext{
  color: rgb(29, 138, 172);
  font-size: 30px;
}
/* .tasklistdiv body{
    /* height: 100vh;
    margin-top:10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */

.tasktable{
  width: 90%;
  margin-top: 40px;
  border-collapse: collapse;
}
.tasktable td:hover{
  background-color: greenyellow;
  cursor: pointer;
}


.tasktable th
{
  padding: 8px;
  text-align: center;
  background-color: rgb(181, 225, 238);
  border:1px solid white;

}

.tasktable td{
  padding: 8px;
  text-align: left;
  background-color: aliceblue;
  box-shadow: 2px 2px 5px grey;
  
}
.tasktable .update{
  text-align: center;
}
.tasktable .status{
  text-align: center;
}
.edittaskbtn{
  width: 200px;
    padding: 12px;
    font-size: 16px;
  margin-top: 30px;
  background-color: #4CAF50;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}
.edittaskbtn:hover{
  background-color:#45a049 ;
}
.popup{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content{
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 40px;
  height: 50px;
  text-align: center;
}

.popup-content input{
  width: 30px;
  height: 30px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;

}

.popup-content button{
  padding: 10px;
  margin: 10px 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;


  .popup-content bottom:hover{
    background-color:  #45a049;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  /* background-color: #2196F3; */
  background-color:rgb(255, 3, 3);
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 